body{ 
    background="imagenes/fondo.jpg" 
 background-attachment: fixed;
}

    .conte{ 
    width: 700px;
    background-color: antiquewhite;
    margin: auto;
    height: auto;
    padding: auto;
    background-attachment: fixed;
}
form{
    background-color:antiquewhite;
    width: auto;
}
b{
    border: :solid 5px;
    border-radius:  10px;
    background-color: bisque;
    width: auto;
    bottom: auto;
}